keycloak_url      = "https://keycloak_domain_name"
keycloak_user     = "admin"
keycloak_password = "your-strong-secret-password" # this is to authenticate to keycloak
argocd_url        = "https://example.com"
target_realm      = "master" # or your specific realm
kube_context = "gke_project-id_region_cluster-name"