serviceAccount:
  create: false
  name: ${k8s_service_account_name}
  annotations:
    iam.gke.io/gcp-service-account: ${gcp_service_account_email} # Replace with your GCP service account email


# Explicitly disable testFramework to avoid nil pointer in Helm chart
testFramework:
  enabled: false
  image: "bats/bats"
  securityContext:
    runAsUser: 1000

adminUser: admin
adminPassword: ${grafana_admin_password}

persistence:
  enabled: true
  size: 1Gi

service:
  type: ClusterIP # Keeping service type as ClusterIP, assuming ingress will handle external access
  port: 80
  targetPort: 3000
  annotations: {} # Removing service annotations as they are moved to ingress

ingress:
  enabled: false
  ingressClassName: ${ingress_class_name}
  annotations:
    cert-manager.io/issuer: ${cert_issuer_name}
    external-dns.alpha.kubernetes.io/hostname: grafana.${monitoring_domain} # Replace with your Grafana domain name (e.g., grafana.yourdomain.com)

env:
  GF_FEATURE_TOGGLES_ENABLE: publicDashboards
  GF_LOG_LEVEL: info
  GF_AUTH_ANONYMOUS_ENABLED: "false"

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
      - name: Prometheus
        type: prometheus
        access: proxy
        url: http://monitoring-prometheus-server:80
        isDefault: true
        jsonData:
          httpMethod: POST
          timeInterval: 15s

      - name: Loki
        type: loki
        access: proxy
        url: http://monitoring-loki-gateway:80
        jsonData:
          maxLines: 1000

      - name: Mimir
        type: prometheus
        access: proxy
        url: http://monitoring-mimir-nginx:80/prometheus
        jsonData:
          httpMethod: POST
          timeInterval: 15s

      - name: Tempo
        type: tempo
        access: proxy
        url: http://monitoring-tempo-query-frontend:3200
        jsonData:
          httpMethod: GET
          tracesToLogsV2: {}
          datasourceUid: loki
          spanStartTimeShift: '-1h'
          spanEndTimeShift: '1h'
          filterByTraceID: true
          filterBySpanID: false
        tracesToMetrics:
          datasourceUid: prometheus
        serviceMap:
          datasourceUid: prometheus
        nodeGraph:
          enabled: true
