fullnameOverride: "monitoring-prometheus"

alertmanager:
  enabled: false
kube-state-metrics:
  enabled: true
prometheus-node-exporter:
  enabled: false
prometheus-pushgateway:
  enabled: false
serviceAccount:
  create: false  # Use existing service account created by Terraform
  name: ${k8s_service_account_name}
  annotations:
    iam.gke.io/gcp-service-account: ${gcp_service_account_email} 

server:
  persistentVolume:
    enabled: true
    size: 3Gi
  retention: 7d
  service:
    type: ClusterIP
    port: 80
    targetPort: 9090
  ingress:
    enabled: false
    ingressClassName: ${ingress_class_name}
    annotations:
      cert-manager.io/issuer: ${cert_issuer_name}
      external-dns.alpha.kubernetes.io/hostname: prometheus.${monitoring_domain}
  resources:
    requests:
      memory: 2Gi
      cpu: 500m
    limits:
      memory: 4Gi
      cpu: 1000m
  global:
    evaluation_interval: 15s
    scrape_interval: 15s
    external_labels:
      cluster: gke_${project_id}_${region}_${cluster_name}
      environment: prod
  
  remoteWrite:
    - url: http://monitoring-mimir-nginx:80/api/v1/push
      queue_config:
        capacity: 10000
        max_shards: 200
        min_shards: 1
        max_samples_per_send: 5000
        batch_send_deadline: 5s
        min_backoff: 30ms
        max_backoff: 5s

extraScrapeConfigs: |
  - job_name: loki
    metrics_path: /metrics
    static_configs:
      - targets: 
        - 'monitoring-loki-distributor:3100'
        - 'monitoring-loki-ingester:3100'
        - 'monitoring-loki-querier:3100'
        - 'monitoring-loki-query-frontend:3100'
        - 'monitoring-loki-compactor:3100'
        - 'monitoring-loki-index-gateway:3100'
        - 'monitoring-loki-query-scheduler:3100'
        labels:
          instance: 'loki'
          cluster: 'k8s'
  
  - job_name: grafana
    static_configs:
      - targets: ['monitoring-grafana:80']
        labels:
          instance: 'grafana'
          cluster: 'k8s'

  - job_name: mimir-distributor
    static_configs:
      - targets: ['monitoring-mimir-distributor:8080']
        labels:
          instance: 'mimir-distributor'
          cluster: 'k8s'
  
  - job_name: tempo
    static_configs:
      - targets: ['monitoring-tempo-query-frontend:3200']
        labels:
          instance: 'tempo'
          cluster: 'k8s'